<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits App</title>
    <link rel="stylesheet" href="/css/edit.css" />
  </head>
  <body>
    <section class="edit" id="edit">
      <h2 class="heading">Edit <span>Meat: <%= veg.name %> </span></h2>

      <form action="/veggies/<%= id %>/?_method=PUT" method="POST">
        <div class="input-box">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" value="<%= veg.name %>" />
        </div>
        <div class="input-box">
          <label for="color">Color</label>
          <input
            type="text"
            name="color"
            id="quality"
            value="<%= veg.color %>"
          />
        </div>
        <div class="input-box"></div>
        <label for="readyToEat">Is Ready to Eat?</label>
        <input type="checkbox" name="readyToEat" id="readyToEat" <%
        if(veg.readyToEat === true){ %> checked <% } %> />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Desciption"
        ></textarea>
        <input class="btn" type="submit" value="Edit Veggie" />
      </form>
    </section>
  </body>
</html>
