<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>OnlyEats</title>
  </head>
  <body>
    <!-- header design -->
    <header class="header">
      <a href="#" class="logo">OnlyEats</a>
      <i class="bx bx-menu" id="menu-icon"></i>
      <nav class="navbar">
        <!-- total of 7 a tags -->
        <a href="#home" class="active">Home</a>
        <a href="/recipes">Recipes</a>
        <a href="/fruits">Fruits</a>
        <a href="/meats">Meats</a>
        <a href="/veggies">Vegetables</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>

    <!-- home section design -->
    <section class="home" id="home">
      <div class="home-content">
        <h3>Hungry?</h3>
        <h1>OnlyEats</h1>
        <p> Deliciously curated recipes ready for you to eat! </p>
        </div>
      </div>
      <div class="portfolio-content">
        <img src="https://imgs.search.brave.com/yk-hI1jydL970g96RKfBkO424TikjDJ-Bv1K6Jxulw8/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9wZXJzb24tdGFr/ZXMtcGljdHVyZS10/aGVpci1mb29kLXRo/ZWlyLXBob25lXzk1/MDM0Ny00NDExLmpw/Zz9zaXplPTYyNiZl/eHQ9anBn" alt="" />
        <div class="portfolio-layer">
          <h4>Recipes</h4>
          <p>
            Take a look at our latest recipes from our at home chef's
          </p>
          <a href="/fruits"><i class='bx bx-link-external'></i></a>
        </div>
      </div>
    </section>
    <!-- about section design -->
    <section class="about" id="about">
      <div class="about-img">
        <img src="./images/personal-portfolio-pic.png" alt="" />
      </div>

      
    </section>

     <!-- contact section design -->
     <section class="contact" id="contact">
      <h2 class="heading">Share a <span>Recipe!</span></h2>

      <form action="#">
        <div class="input-box">
          <input type="text" name="" id="" placeholder="Full Name">
          <input type="email" name="" id="" placeholder="Email Address">
        </div>
        <div class="input-box">
          <input type="number" name="" id="" placeholder="Mobile Number">
          <input type="text" name="" id="" placeholder="Email Subject">
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <input type="submit" value="Send Message" class="btn">
      </form>
  </body>
</html>
