<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/newrecipe.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Recipes</title>
  </head>
  <body>
    <section class="timeline">
      <div class="timeline-row">
        <div class="timeline-column">
          <h2 class="title">
            <span class="title-veggies" style="--i: 1">Recipes</span>
          </h2>
          <div class="timeline-box">
            <% for( let index = 0; index < allRecipes.length; index++ ) { %> <%
            let recipe = allRecipes[index] %>
            <div class="timeline-content">
              <div class="content">
                <h3><%= recipe.dish %></h3>
                <img
                  src="<%=recipe.img %>"
                  alt=""
                  srcset=""
                  height="500"
                  width="300"
                />
                <a href="/veggies/<%= index %>">Checkout indegredients</a>
              </div>
            </div>
            <div></div>
            <% } %>
            <span class="animate" style="--i: 2"></span>
          </div>
        </div>
      </div>
    </section>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>